@model Layout 

<footer class="footer-area">
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-widget pr-60">
                                <div class="footer-logo pb-25">
                                    <a href="~/assets/index.html"><img src="~/assets/img/logo/@Model.FooterLogo" alt="eduhome"></a>
                                </div>
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="@Model.FirstURL">@Html.Raw(@Model.FirstSocialMediaLogo)</a></li>
                                        <li><a href="@Model.SecondURL">@Html.Raw(@Model.SecondSocialMediaLogo)</a></li>
                                        <li><a href="@Model.ThirdURL">@Html.Raw(@Model.ThirdSocialMediaLogo)</a></li>
                                        <li><a href="@Model.FourthURL">@Html.Raw(@Model.FourthSocialMediaLogo)</a></li>
                                    </ul>    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="single-widget">
                                <h3>information</h3>
                                <ul>
                                    <li><a href="~/assets/#">addmission</a></li>
                                    <li><a href="~/assets/#">Academic Calender</a></li>
                                    <li><a href="~/assets/event.html">Event List</a></li>
                                    <li><a href="~/assets/#">Hostel &amp; Dinning</a></li>
                                    <li><a href="~/assets/#">TimeTable</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 pt-4 pt-lg-0">
                            <div class="single-widget">
                                <h3>useful links</h3>
                                <ul>
                                    <li><a href="~/assets/course.html">our courses</a></li>
                                    <li><a href="~/assets/about.html">about us</a></li>
                                    <li><a href="~/assets/teacher.html">teachers &amp; faculty</a></li>
                                    <li><a href="~/assets/#">teams &amp; conditions</a></li>
                                    <li><a href="~/assets/event.html">our events</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 pt-4 pt-lg-0">
                            <div class="single-widget">
                                <h3>get in touch</h3>
                                <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
                                <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                                <p>info@eduhome.com<br>www.eduhome.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p>Copyright © <a href="~/assets/index.html">Eduhome</a> 2021. All Right Reserved By <a href="~/assets/https://themeforest.net/user/hastech/portfolio" target="_blank">Hastech.</a></p>
                        </div> 
                    </div>
                </div>    
            </div>
        </footer>